# --- Project settings ---
PYTHONPATH=app

# --- RabbitMQ settings ---
RMQ_USERNAME=auth_user
RMQ_PASSWORD=12345
RMQ_HOST=localhost
RMQ_PORT=5672

# --- Redis settings ---
REDIS_USER=admin
REDIS_PASSWORD=admin
REDIS_HOST=redis_user
REDIS_PORT=6378

# --- PostgreSQL settings ---
POSTGRES_NAME=your_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- PgAdmin settings ---
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# --- MinIO settings ---
AWS_ACCESS_KEY_ID=1234r
AWS_SECRET_ACCESS_KEY=3243fd
ENDPOINT_URL=minio:9000