# --- Project settings ---
PYTHONPATH=app

# --- RabbitMQ settings ---
RMQ_USERNAME=auth_user
RMQ_PASSWORD=12345
RMQ_HOST=localhost
RMQ_PORT=5672

# --- PostgreSQL settings ---
POSTGRES_NAME=your_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- PgAdmin settings ---
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
